html, body, * {
    padding: 0;
    margin: 0;
    font-family: Lato;
    /*font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;*/
    /*font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;*/
    /*font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;*/
}
html {
    width: 100%;
    height: 100%;
    position: absolute;
}

h1.primary {
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-align: center;    
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 18px;
}

a.first:link, a.first:visited {
    color: #888;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


a.first:hover, a.first:active {
    color: white;
}

p.primary {
    color: white;
    font-size: 15px;
    text-align: center;    
}

a.second:link, a.second:visited {
    color: black;
    text-align: center; 
    /*text-decoration-line: underline;
    -webkit-text-decoration-style: dotted;*/
    -webkit-text-decoration: underline dotted;
    display: inline-block;
}


a.second:hover, a.second:active {
    color: #F0243F;
}

p.secondary {
    color: white;
    font-size: 17px;
    text-align: right; 
    margin-left: 10px;   
}

p.third {
    font-size: 15px;
    text-align: right; 
    /*margin-left: 10px;   */
}

p.fourth {
    font-size: 15px;
    text-align: right;
    color: #818274;
}

hr.primary {
    color: #999; 
    border-color: #999;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 17px;
    margin-bottom: 17px;
}

hr.one {
    color: #999; 
    border-color: #999;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 17px;
}

hr.two {
    color: #999; 
    border-color: #999;
    border-style: solid;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 25px;
    margin-bottom: 17px;
}

.evenRow{
            margin: auto;
            padding: 0;
            background-color: #9FFF9D;
        }

#leftCol {
    background: #1F3238;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 75%;
    overflow-y: auto; 
    /* overflow: hidden; */
    padding: 2em;
}
#rightCol {
    background: #bbb;
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;    
    padding: 2em;
}

#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color: orange;
}

#bottom {
    bottom: 0;
    background-color: green;
}



